//.header-nav-bar {
//  .nav {
//    position: fixed;
//    background-color: #565f68;
//    width: 100px;
//
//    md-list-item {
//      min-height: 60px;
//      -webkit-flex-direction: column;
//      -ms-flex-direction: column;
//      flex-direction: column;
//      ng-md-icon {
//        margin: 11px 22px;
//      }
//      &.nav-all {
//        color: #898f96;
//        padding-bottom: 10px;
//        &:hover {
//          background-color: #4d555d;
//          cursor: pointer;
//          .nav-text, ng-md-icon {
//            color: #fff;
//          }
//        }
//        .md-button:hover {
//          background-color: transparent;
//        }
//        .md-button {
//          color: #898f96;
//        }
//        &:first-child {
//          padding-bottom: 0;
//        }
//        a {
//          color: #898f96;
//          padding: 0;
//          margin: 0;
//        }
//        .navbar-title {
//          text-transform: uppercase;
//          font-weight: 400;
//          line-height: 17px;
//          margin-top: 10px;
//        }
//        .title {
//          color: #fff;
//          font-size: 20px;
//        }
//        .title-text {
//          color: #abafb4;
//          font-size: 17px;
//        }
//        .nav-text {
//          color: #abafb4;
//          font-size: 12px;
//          font-family: Lato;
//          line-height: 14px;
//        }
//      }
//    }
//    .md-no-style .md-list-item-inner {
//      display: block;
//      text-align: center;
//    }
//    md-list {
//      display: block;
//      padding: 0;
//    }
//    .settings {
//      margin-bottom: 10px;
//      bottom: 0;
//      position: absolute;
//  }
//  md-divider {
//    margin: 30px 0;
//    background-color: #3c4249;
//  }
//}
//.content {
//  background-color: $content;
//  md-input-container.md-input-focused .md-input {
//    border-width: 0;
//  }
//}
//.top-toolbar {
//  height: 60px;
//  .search {
//    .md-button {
//      min-width: 24px;
//      border-radius: 99%;
//    }
//    ng-md-icon {
//      color: #bbbfc3;
//    }
//    .md-toolbar-tools.search-icon {
//      padding-left: 25px;
//    }
//  }
//  .user {
//    margin-right: 35px;
//
//    .md-primary.dropdown.md-button.md-ink-ripple {
//      color: #56b4c1;
//      margin: 15px;
//      height: 30px;
//      min-height: 0;
//      border: solid 2px #56b4c1;
//      width: 100px;
//      border-radius: 4px;
//      padding: 0 0 0 10px;
//      line-height: 29px;
//    }
//    .md-primary.dropdown.md-button.md-ink-ripple:hover {
//      background-color: transparent;
//    }
//    .md-button.dropdown {
//      overflow: visible; /*reset*/
//    }
//    .dropdown-menu .md-button.md-ink-ripple {
//      color: #56b4c1;
//    }
//    .dropdown .dropdown-menu {
//      max-width: 0;
//      position: absolute;
//      left: 40px;
//      margin: 0;
//      padding: 0;
//      opacity: 0;
//      overflow: hidden;
//      background-color: #fff;
//      list-style: none;
//      transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
//    }
//    .dropdown .dropdown-menu .md-button {
//      min-width: 100%;
//      border-radius: 0;
//      margin: 0;
//      padding: 6px 16px;
//    }
//    .dropdown.active .dropdown-menu {
//      max-width: 300px; /* set a maxwidth bigger than the widest element */
//      left: 0;
//      opacity: 1;
//    }
//    .dropdown.md-button {
//      text-transform: none;
//      font-size: 14px;
//      font-weight: bold;
//    }
//    .dropdown.md-button ng-md-icon {
//      margin-left: 10px;
//    }
//    .time-switch-wrap {
//      padding: 0 10px;
//
//      .time-switch .md-container {
//        height: 40px;
//        margin-right: 56px;
//      }
//      .md-container .md-bar {
//        width: 85px;
//        height: 30px;
//        border-radius: 15px;
//      }
//      .time-switch .md-thumb {
//        left: 4px;
//        top: 5px;
//        height: 25px;
//        width: 25px;
//      }
//      .time-switch.md-checked.md-primary .md-thumb {
//        left: 42px;
//        background-color: #fff;
//      }
//      .time-switch.md-checked.md-primary .md-bar {
//        background-color: #56b4c1;
//      }
//      .time-switch.md-checked .md-thumb:before {
//        content: "7:59";
//          color: #fff;
//          left: -46px;
//        }
//        .time-switch .md-thumb:after {
//          content: "8:00";
//          color: #fff;
//          margin-left: 33px;
//        }
//        .time-switch.md-checked .md-thumb:after {
//          display: none;
//        }
//      }
//      .user-avatar {
//        height: 46px;
//      }
//    }
//  }
//}

.header-nav-bar {
  /* show the collapse when navbar toggle is checked */
  #navbar-toggle-cbox:checked ~ .collapse {
    display: block;
  }

  /* the checkbox used only internally; don't display it */
  #navbar-toggle-cbox {
    display: none
  }
  .navbar {
    background-color: #fff;
    border-right: none;
    border-radius: 0;
    &.navbar-fixed-top {
      z-index: 999;
    }
    li.dropdown {
      padding: 15px 40px 15px 0;
      button.dropdown-toggle {
        color: $green;
        background-color: $white;
        border: 1px solid $green;
        height: 30px;
        padding: 0 24px;
      }
    }
    a.navbar-brand {
      padding: 7px 0;
      height: auto;
    }
  }
  .navbar-nav {
    display: block;
    .time-switch {
      padding: 15px 15px 15px 0;
      .ats-switch {
        border-radius: 15px;
        height: 30px;
        min-width: 86px;
        width: 86px;
        border: none;
        outline: none;
        &:hover {
          box-shadow: none;
        }
        .switch-off {
          left: -63%;
        }
      }
      .ats-switch[aria-checked="false"] {
        background-color: #d0d1d1;
        .switch-left {
        visibility: hidden;
        }
      }
      .ats-switch[aria-checked="true"] {
        background-color: $green;
        .switch-right {
          visibility: hidden;
        }
      }
      .switch-left.ng-binding {
        font-size: 20px;
        font-family: Lato;
        background-color: $green;
        margin-left: 5px;
        margin-right: 9px;
        padding-top: 6px;
      }
      .switch-right.ng-binding {
        color: $white;
        font-size: 20px;
        font-family: Lato;
        background-color: #d0d1d1;
        padding: 6px;
      }
      .knob {
        width: 26px;
        min-height: 26px;
        height: 26px;
        border-radius: 99%;
        background-color: $white;
        margin: 2px 0;
      }
    }
  }
  .navbar-collapse form[role="search"] {
    display: inline;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    margin: 0;
    z-index: 0;
    border-top: none;
  }
  .input-group {
    padding-top: 6px;
    .input-group-btn .btn-search {
      font-size: 17px;
      color: #aaaeb3;
    }
  }
  .navbar-collapse form .btn-search:hover, .btn-search:focus {
    background-color: transparent;
  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0;
    color: rgb(119, 119, 119);
    border: 0;
    box-shadow: none;
    outline: none;
  }
  .navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-family: Lato;
    color: rgb(160, 160, 160);
    box-shadow: none;
  }
  .navbar-collapse form[role="search"] button[type="reset"] {
    display: none;
  }
  .navbar-collapse form[role="search"].active button[type="submit"] {
    display: none;
  }

  @media (min-width: 768px) {
    .navbar-collapse {
      padding-top: 0;
      padding-right: 38px;
      padding-left: 103px;
    }
    .navbar-collapse form[role="search"] button,
    .navbar-collapse form[role="search"] input {
      padding: 15px 12px;
    }
    .navbar-collapse form[role="search"] input {
      font-size: 18pt;
      opacity: 0;
      display: none;
      height: 50px;
    }
    .navbar-collapse form[role="search"].active {
      width: 100%;
    }
    .navbar-collapse form[role="search"].active button,
    .navbar-collapse form[role="search"].active input {
      display: table-cell;
      opacity: 1;
    }
    .navbar-collapse form[role="search"].active input {
      width: 100%;
    }
  }
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 */
.wrapper {
  .sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 90px;
    height: 100%;
    overflow-y: visible;
    background: #565f68;
  }
  /* Sidebar Styles */
  .sidebar-nav {
    position: relative;
    top: 0;
    width: 90px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 540px;
    li {
      text-align: center;
      font-size: 12px;
      &:last-child {
        position: absolute;
        bottom: 0;
      }
      &.sidebar-brand {
        a {
          height: 60px;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          padding-top: 15px;
          color: $white;
          line-height: 14px;
          &:hover, &:focus, &:active {
            background: none;
          }
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: $sbtext;
        }
      }
      a {
        display: block;
        color: #898f96;
        height: 60px;
        width: 90px;
        padding-top: 10px;
        font-family: Lato;
        font-size: 12px;
        &:hover, &:focus, &:active {
          text-decoration: none;
          color: $white;
          background: #4d555d;
        }
        .glyphicon {
          font-size: 20px;
        }
      }
    }
  }
}