.md-nav-bar-div{
  position: fixed;
  z-index: 10;
  margin-left: -8px;
  width: 96%;
  background: #fff;
  margin-top: 80px;
  box-shadow: 8px 11px 10px #cbcbcb;
}
.divForIconLocationOnMd-nav-bar{
  width: 68%;
  float: right;
}
