$white : #ffffff;
$content: #f1f1f1;
$navigation : #989898;
$text : #cbcbcb;
$cross : #e5e5e5;
$menu : #808080;
$green : #56b4c1;
// user profile
$usertext: #666666;
$userbar: #3fa9f5;
$usermain: #333;
$usericon : #dbdbdb;
$buttontext: #4d4d4d;
$cancel: #999999;
// base
$green: #56b4c1;
$sbtext: #898f96;
$backgr: #eceded;
