@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoLight;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: LatoHeavy;
  src: url(../fonts/Lato-Heavy.ttf);
}

@font-face {
  font-family: LatoSemibold;
  src: url(../fonts/Lato-Semibold.ttf);
}