@font-face {
  font-family: Lato;
  src: url(../font/Lato-Medium.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(../font/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoSemibold;
  src: url(../font/Lato-Semibold.ttf);
}