.project {
  height: 100%;
  background-color: #f2f2f2;

   .top-select-project{
      margin-right: 12px;
      margin-left: 12px;
      background: rgb(255,255,255);
      color: rgba(0,0,0,0.54);
  }
   .top-menu-panel{
      margin: 15px 10px 15px 10px;
      background: rgb(255,255,255);
      color:rgba(0,0,0,0.54);
  }
   .top-top-select-board{
       background-color: #f2f2f2
   }
    .top-select-board{
       margin-top: 15px;
       width: 100%;
       background: rgb(255,255,255);
       color: rgba(0,0,0,0.54);
   }
    .top-sprint-filters{
       margin-right: 10px;
       margin-top: 15px;
       background: rgb(255,255,255);
       color: rgba(0,0,0,0.54);
   }
    .top-colomns-status{
       padding-left: 16px;
   }
   .top-task{
      min-height: 55px;
  }
   .task-description{
      margin-right: 50px
  }
   .task-status{
      text-align: center;
  }
   .select-project{
    margin: 27px 25px 27px 25px;
  }
   .button-project{
    width: 100%;
    margin: 12px 6px 12px 6px;
    padding-left: 0px;
    padding-right: 0px;
  }
   .project-remains{
      margin-bottom: 0px;
      margin-top: 7px;
  }
   .project-menu{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

   .task-settings div:last-child{
      margin-top: 10px;
  }

   .project-setting{
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
   .menu-icon{
    margin: 1px 10px 0px 10px;
  }
   .select-filter{
    margin: 11px 0px 0px 0px ;
  }
   .select-filter ._md-select-value{
    border-bottom-width: 0px;
    border-bottom-style: none;
  }
   .menu-more{
    margin: 0px;
  }
   .icon-remain{
    margin-right: 5px;
    margin-left: 0px;
  }
   ._md-subheader-wrapper .md-subheader._md{
    margin-left: 0px !important;
    display: inline-block;
  }
   ._md-subheader-wrapper{
    margin-left: 0px !important;
  }
   md-list-item{
    display: block !important;
  }
   md-list-item.md-3-line .md-list-item-text h4{
    white-space: normal;
  }
   .item{
    background-color: white;
    //margin-bottom: 5px;
  }
   .main-content{
    height: 600px;
    background-color: #f2f2f2;
  }
   .grab-item{
    cursor: pointer;
  }
  .top-info-project{
    display: inline;
  }
  .top-info-start-header-date{
    margin-bottom: 0px;
  }
  .top-info-start-header-people{
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .top-people-margin{
    margin-left: 15px;
    margin-top: 15px;
  }
  .top-info-start-date{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .top-info-deadline-header-date{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .project-avatar{
    width: 85%;
  }
  .divider-margin{
    margin-bottom: 5px;
  }
  div button{
    margin: 0px;
    padding-left: 0px;
  }
  div .md-button:not([disabled]):hover {
    background-color: transparent;
  }
  .all-project h4 {
    margin: 0px;
  }
  .button-edit-project{
    width: 40%;
    margin: 35px 6px 12px 6px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-column{
    margin-top:15px;
    margin-left: 9px;
  }
  .top-right-column{
    margin-right: 10px;
    margin-top: 15px;
    background: #f2f2f2;
    color: rgba(0,0,0,0.54);
  }
  .top-right-subcolumn{
    background: #fff;
  }
  .top-right-right-subcolumn{
    margin-right: 10px;
    margin-top: 15px;
    background: #fff;
  }
  .top-right-left-subcolumn{
    margin-left: 10px;
    margin-top: 15px;
    background: #fff;
  }
  .top-right-subcolumn-header{
    margin-left: 15px;
  }
  .top-right-subcolumn-main-text{
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 0px;
  }
  .edit-button{
    margin-right: 5px;
    margin-top: 5px;
  }
  .technology md-chips-wrap{
    max-width: 100%;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 0px;
  }
  .working-weeks{
    text-align: center;
    width: 100%;
  }
  .margin-top-90{
    margin-top: 90px;
  }
  md-toolbar{
    position: static;
  }
}