<md-dialog class="popup-add-interview">
    <div class="header-for-modal-add-interview">
        <h2>Add Interview</h2>
        <md-button class="md-icon-button md-button-for-close-modal-add-interview" ng-click="cancel()">
            <ng-md-icon icon="close"
                        size="18"
                        aria-label="Close dialog">
            </ng-md-icon>
        </md-button>
    </div>
    <md-dialog-content class="md-dialog-content-add-interview">
        <form name="addInterviewForm">

            <div layout="row" flex="100" class="div-for-first-row-in-add-interview">
                <div layout="column" flex="50">
                    <p>Interview with</p>
                    <input required ng-model="candidateName" type="text" disabled>
                </div>
                <div layout="column" flex="50" class="md-div-for-responsible">
                    <p>Responsible</p>
                    <md-input-container class="md-input-container-responsible">
                        <md-select
                                   ng-model="stepInfo.responsible"
                                   md-on-open="getAutocompleteData('responsible')"
                                   placeholder="Select responsible">
                            <md-option ng-value="responsible"
                                       ng-repeat="responsible in $root.autocomplete.responsible | filter:{ type : '!CANDIDATE'}">
                                {{responsible.name}} {{responsible.lastName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" flex="100" class="div-for-second-row-in-add-interview">
                <div layout="column" flex="50">
                    <md-datepicker required ng-model="dateForStep" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div layout="column" flex="50">
                    <span>+ time</span>
                </div>
            </div>

            <md-chips required
                      class="md-chips-in-add-interviewer"
                      ng-model="stepInfo.interviewer"
                      md-transform-chip="addKit($chip)"
                      md-require-match="true">
                <md-autocomplete
                        placeholder="select interviewers"
                        md-no-cache="true"
                        md-min-length="1"
                        md-autofocus="false"
                        md-autoselect="true"
                        md-search-text="$chip"
                        md-items="item in $root.autocomplete.responsible | filter:{ type : '!CANDIDATE'} | filter: $chip "
                        md-item-text="item"
                        ng-click="getAutocompleteData('responsible')">

                    <md-item-template>
                        <img ng-src="{{item.previewPhoto}}" class="md-item-template-img-for-chips-in-add-interviewer"/><span md-highlight-text="$chip.name" class="md-item-template-span-for-chips-in-add-interviewer" md-highlight-flags="^i">{{item.name}} {{item.lastName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>

                <md-chip-template> <img ng-src="{{$chip.previewPhoto}}" class="md-chip-template-img-for-chips-in-add-interviewer"/><span class="md-chip-template-span-for-chips-in-add-interviewer">{{$chip.name}} {{$chip.lastName}}</span></md-chip-template>
            </md-chips>

        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Close
        </md-button>
        <md-button ng-click="saveInterview()" ng-disabled="addInterviewForm.$invalid" style="margin-right:20px;">
            Create Interview
        </md-button>
    </md-dialog-actions>
</md-dialog>