<md-dialog class="popup-add-participant">
    <div class="header-for-modal-add-participant">
        <h2>Add participant</h2>
        <md-button class="md-icon-button md-button-for-close-modal-add-participant" ng-click="cancel()">
            <ng-md-icon icon="close"
                        size="18"
                        aria-label="Close dialog">
            </ng-md-icon>
        </md-button>
    </div>
    <md-dialog-content class="md-dialog-content-add-participant">
        <form name="addParticipantForm">
            <md-input-container class="md-input-container-responsible">
                <md-select ng-model="selectCandidate"
                           md-on-open="getAutocompleteData('responsible')"
                           placeholder="Select existing candidates" >
                    <md-option ng-value="responsible" ng-repeat="responsible in $root.autocomplete.responsible | filter:{type: 'CANDIDATE'}">
                        {{responsible.name}} {{responsible.lastName}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container required ng-if="!selectCandidate">
                <label>Email:</label>
                <input ng-model="newCandidate.email">
            </md-input-container>

            <md-input-container required ng-if="!selectCandidate">
                <label>Name:</label>
                <input ng-model="newCandidate.name" >
            </md-input-container>

            <md-input-container required ng-if="!selectCandidate">
                <label>Last name:</label>
                <input ng-model="newCandidate.lastName" >
            </md-input-container>

            <div ng-repeat="step in stepDate">
            <h4>{{step.name}}</h4>
            <md-datepicker  ng-model="step.stepToCandidate.date" md-placeholder="Enter date"></md-datepicker>
            </div>


            <md-select required placeholder="Select type" ng-if="!selectCandidate" class="select-in-modal-add-participant" ng-model="newCandidate.statusToCandidate">
                <md-option ng-repeat="types in candidateType" style="background: white">{{types}}</md-option>
            </md-select>

            <md-select required placeholder="Select type for select candidate" ng-if="selectCandidate" class="select-in-modal-add-participant" ng-model="selectCandidate.statusToCandidate">
                <md-option ng-repeat="types in candidateType" style="background: white">{{types}}</md-option>
            </md-select>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Close
        </md-button>
        <md-button ng-click="saveVacancy()"  ng-disabled="addParticipantForm.$invalid" style="margin-right:20px;" >
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>