<div flexl layout="row">
    <!-- Container #2 -->
    <md-sidenav flex=5 md-is-locked-open="true" class="nav">

        <md-list>
            <md-list-item class="nav-all" ui-sref="app.main">
                    <span class="title">Dengo
                        <span class="title-text">service 24</span>
                    </span>
            </md-list-item>

            <md-list-item class="nav-all">
                <ng-md-icon icon="home" size="28"></ng-md-icon>
                <div class="nav-text">Dashboard</div>
            </md-list-item>

            <md-list-item class="nav-all" ui-sref="app.projects">
                <ng-md-icon icon="insert_drive_file" size="28"></ng-md-icon>
                <div class="nav-text">Projects</div>
            </md-list-item>

            <md-list-item class="nav-all">
                <ng-md-icon icon="date_range" size="28"></ng-md-icon>
                <div class="nav-text">Calendar</div>
            </md-list-item>

            <md-list-item class="nav-all">
                <ng-md-icon icon="textsms" size="28"></ng-md-icon>
                <div class="nav-text">Chat</div>
            </md-list-item>

            <md-list-item class="nav-all" ui-sref="app.staff.navBar.people">
                <ng-md-icon icon="supervisor_account" size="28"></ng-md-icon>
                <div class="nav-text">Staffs</div>
            </md-list-item>

            <md-list-item class="nav-all">
                <ng-md-icon icon="cloud_upload" size="28"></ng-md-icon>
                <div class="nav-text">Cloud</div>
            </md-list-item>

            <md-list-item class="nav-all">
                <ng-md-icon icon="data_usage" size="28"></ng-md-icon>
                <div class="nav-text">Statistic</div>
            </md-list-item>

            <div class="settings">
                <md-list-item class="nav-all">
                    <ng-md-icon icon="settings" size="28"></ng-md-icon>
                    <div class="nav-text">Settings</div>
                </md-list-item>
            </div>
        </md-list>

    </md-sidenav>

    <!-- Container #3 -->
    <md-content ng-controller="HeaderController" class="content" flex id="content">
        <md-toolbar layout="row" >

            <md-input-container class="md-icon-float md-block">
                <ng-md-icon class="search" icon="search" size="28"></ng-md-icon>
                <label>Search</label>
                <input ng-model="user.name" type="text">

            </md-input-container>
            <div class="user">
                <img ng-click="toggleRight()" ng-hide="isOpenRight()" src="image/icon.png"/>
                <span class="timer">03:47</span>
            </div>
        </md-toolbar>

        <md-grid-list md-cols-xs="1" md-cols-sm="1" md-cols-md="4" md-cols-gt-md="4" md-row-height-gt-md="7:6" md-row-height="5:3" md-gutter="15px" md-gutter-gt-sm="15px">

            <md-grid-tile class="white" md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1">
                <ui-view></ui-view>
            </md-grid-tile>

        </md-grid-list>

    </md-content>


    <md-sidenav class="md-sidenav-right" md-component-id="right">
        <md-content ng-controller="EventController" layout-padding>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right">+ Add</div>
            </md-list-item>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right">My account</div>
            </md-list-item>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right">Edit account</div>
            </md-list-item>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right">Accounting</div>
            </md-list-item>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right">Inventory</div>
            </md-list-item>

            <md-list-item class="nav-text-right">
                <div class="nav-text--right logout">Log out</div>
            </md-list-item>stu
            <hr>

            <div class="notification-title">
                Notifications
            </div>
            <div class="notification">
                <div class="notification-block">
                    <ng-md-icon class="clear" icon="clear"></ng-md-icon>
                    Notifications card
                </div>
                <div class="notification-block">
                    <ng-md-icon class="clear" icon="clear"></ng-md-icon>
                    Notifications card
                </div>
            </div>
        </md-content>
    </md-sidenav>
</div>