<div>jflfsd</div>
<div style="margin-top: 200px">


<md-input-container class="md-block" flex-gt-sm="">
    <label style="color: black" >Email</label>
    <input style="color: black" ng-model="user.username">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm="">
    <label style="color: black">Password</label>
    <input style="color: black" ng-model="user.password">
</md-input-container>

<ng-button ng-click="login()" style="color: black; background: rebeccapurple; cursor: pointer; width: 100px; height: 50px">Login</ng-button>
    <br>
<ng-button ng-click="logout()" style="color: black; background: deeppink; cursor: pointer; width: 100px; height: 50px">Logout</ng-button>
</div>