<md-dialog class="create-task" aria-label="Create request"  ng-cloak>
        <form>
            <md-toolbar>
                <div layout="row" class="md-toolbar-tools">
                    <span flex></span>
                    <h2 layout-align="center center">Create project</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <ng-md-icon icon="clear" size="28"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block select-project"  flex-gt-sm="50">
                            <label class="input-text-color">Project Name</label>
                            <input ng-model="project.name">
                        </md-input-container>

                        <md-input-container class="md-block select-project"  flex-gt-sm="50">
                            <label class="input-text-color">Project Area</label>
                            <input ng-model="project.area">
                        </md-input-container>
                    </div>
                    <h3>Term of project</h3>
                    <div layout-gt-xs="row">
                        <div flex-gt-sm="50" class="member">
                            <md-input-container class="md-block select-prioritet" flex-gt-xs>
                                <label>Start</label>
                                <input ng-model="project.startDate" disabled>
                            </md-input-container>
                        </div>
                        <md-datepicker ng-model="dueDate" md-placeholder="Due date" flex-gt-sm="50"></md-datepicker>
                    </div>
                    <h3>Project participants</h3>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block select-project"  flex-gt-sm="50">
                            <label class="input-text-color">Customer</label>
                            <input ng-model="project.customer">
                        </md-input-container>
                        <md-input-container class="md-block select-project"  flex-gt-sm="50">
                            <label class="input-text-color">Product Owner</label>
                            <input ng-model="project.productOwner">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block select-project"  flex-gt-sm="50">
                            <label class="input-text-color">Scrum Master</label>
                            <input ng-model="project.scrumMaster">
                        </md-input-container>
                    </div>
                    <h3>Developer team</h3>
                    <div layout-gt-xs="row">
                        <div flex-gt-sm="25" class="member">
                            <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                            <p>Dmitry Sheremet</p>
                        </div>
                        <div flex-gt-sm="25" class="member">
                            <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                            <p>Dmitry Sheremet</p>
                        </div>
                        <div flex-gt-sm="25" class="member">
                            <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                            <p>Dmitry Sheremet</p>
                        </div>
                        <div flex-gt-sm="10" class="member">
                            <md-button class="md-icon-button select-issue" class="add-member">
                                <ng-md-icon icon="add_circle_outline" size="28"></ng-md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="column">
                <md-button class="md-raised" ng-click="answer('not useful')">CREATE PROJECT</md-button>
                <md-button ng-click="answer('useful')">Cancel</md-button>
            </md-dialog-actions>
        </form>
</md-dialog>