<md-dialog class="create-task" aria-label="Create request"  ng-cloak>
    <form>
        <md-toolbar>
            <div layout="row" class="md-toolbar-tools">
                <span flex></span>
                <h2 layout-align="center center">Create request</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="clear" size="28"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block select-project" flex-gt-sm="50">
                    <label>Request type *</label>
                    <md-select ng-model="task.type">
                        <md-option ng-repeat="type in taskTypes" value="{{type}}">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block select-project" flex-gt-sm="100">
                    <label class="some-input">Theme *</label>
                    <input ng-model="task.theme">
                </md-input-container>

                <md-input-container class="md-block select-project" flex-gt-sm="100">
                    <label class="some-input">Description</label>
                    <input ng-model="task.description">
                </md-input-container>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block select-prioritet"  flex-gt-sm="50">
                        <label>Priorities</label>
                        <md-select ng-model="task.priority">
                            <md-option ng-repeat="priority in priorities" value="{{priority}}">
                                {{priority.level}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-datepicker ng-model="task.endDate" md-placeholder="Due date" flex-gt-sm="50"></md-datepicker>
                </div>
                <div layout-gt-xs="row">
                    <md-chips flex-gt-sm="100" ng-model="labels" md-autocomplete-snap="" md-transform-chip="createTask.transformChip($chip)" md-require-match="createTask.autocompleteDemoRequireMatch">
                        <md-autocomplete md-selected-item="createTask.selectedItem" md-search-text="createTask.searchText" md-items="item in createTask.querySearch(createTask.searchText)" md-item-text="item.name" placeholder="Labels">
                            <span md-highlight-text="createTask.searchText">{{item.name}} :: {{item.type}}</span>
                            <md-not-found>
                                <div class="chip-not-found" ng-click="createTask.notFound(createTask.searchText)">Not found. Click here to add new.</div>
                            </md-not-found>
                        </md-autocomplete>
                        <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong>
                          <em>({{$chip.type}})</em>
                        </span>
                        </md-chip-template>
                    </md-chips>
                </div>

                <h3>Members</h3>
                <p>Executant</p>
                <div layout-gt-xs="row">
                    <div flex-gt-sm="25" class="member">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                        <p>Dmitry Sheremet</p>
                    </div>
                    <div flex-gt-sm="25" class="member">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                        <p>Dmitry Sheremet</p>
                    </div>
                    <div flex-gt-sm="25" class="member">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="Dima Sheremet">
                        <p>Dmitry Sheremet</p>
                    </div>
                    <div flex-gt-sm="10" class="member">
                        <md-button class="md-icon-button select-issue" class="add-member">
                            <ng-md-icon icon="add_circle_outline" size="28"></ng-md-icon>
                        </md-button>
                    </div>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block select-project"  flex-gt-sm="45">
                        <label>Related requests</label>
                        <md-select ng-model="request.requestPriotitet">
                            <md-option ng-repeat="requestPriotitet in requestPriotitets" value="{{requestPriotitet.requests}}">
                                {{requestPriotitet.requests}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block select-project"  flex-gt-sm="45">
                        <label>Related requests</label>
                        <md-select ng-model="request.requestPriotitet">
                            <md-option ng-repeat="requestPriotitet in requestPriotitets" value="{{requestPriotitet.requests}}">
                                {{requestPriotitet.requests}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <!--TODO add functional-->
                    <md-button class="md-icon-button select-issue" flex-gt-sm="10">
                        <ng-md-icon icon="add_circle_outline" size="28"></ng-md-icon>
                    </md-button>
                </div>
                <md-input-container class="md-block select-project"  flex-gt-sm="100">
                    <label>Epik Link</label>
                    <md-select ng-model="request.requestPriotitet">
                        <md-option ng-repeat="requestPriotitet in requestPriotitets" value="{{requestPriotitet.requests}}">
                            {{requestPriotitet.requests}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-toolbar ngf-select
                            class="top-add-file"
                            ng-model="file"
                            ngf-multiple="false"
                            ngf-allow-dir="false"
                            accept="image/jpeg png jpg">
                    <a class="style-for-upload-and-remove-image"
                       onclick="if(document.getElementById('photoFromDb'))
                       document.getElementById('photoFromDb').remove()">+ Add a file</a>
                </md-toolbar>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="column">
            <md-button class="md-raised" ng-click="answer('not useful')">CREATE REQUEST</md-button>
            <md-button ng-click="answer('useful')">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>