<div ng-controller="ProjectsInfoController as projectInfo" layout="row" class="project">
    <div layout="column" class="top-menu-panel" flex="25">
        <div layout="row">
            <div layout="column" flex="30">
                <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar project-avatar" alt="Project Ava">
            </div>
            <div layout="column" flex="45">
                <div layout="row" class="top-info-project">
                    <p class="top-info-start-header-date">Project</p>
                    <h4 class="top-info-start-date">Dengo Service</h4>
                </div>
                <div layout="row" class="top-info-project">
                    <p class="top-info-deadline-header-date">Area</p>
                    <h4 class="top-info-start-date">Managment</h4>
                </div>
            </div>
            <div layout="column" flex="25">
                <div layout="row" class="top-info-project">
                    <p class="top-info-start-header-date">Start</p>
                    <h4 class="top-info-start-date">05.07.16</h4>
                </div>
                <div layout="row" class="top-info-project">
                    <p class="top-info-deadline-header-date">Deadline</p>
                    <h4 class="top-info-start-date">20.09.16</h4>
                </div>
            </div>
        </div>
        <md-divider class="divider-margin"></md-divider>
        <div layout="row" class="top-people-margin">
            <div layout="column" flex="20" layout-align="center start">
                <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar project-avatar" alt="Project Ava">
            </div>
            <div layout="column" flex="80">
                <div layout="row" class="top-info-project">
                    <p class="top-info-start-header-people">Customer</p>
                    <h5 class="top-info-start-date">Denis Petrusha</h5>
                    <h5 class="top-info-start-date">CEO Dengo Systems</h5>
                </div>
            </div>
        </div>
        <div layout="row" class="top-people-margin">
            <div layout="column" flex="20" layout-align="center start">
                <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar project-avatar" alt="Project Ava">
            </div>
            <div layout="column" flex="80">
                <div layout="row" class="top-info-project">
                    <p class="top-info-start-header-people">Product Owner</p>
                    <h5 class="top-info-start-date">Ivan Makhina</h5>
                    <h5 class="top-info-start-date">Director Leadership</h5>
                </div>
            </div>
        </div>
        <div layout="row" class="top-people-margin">
            <div layout="column" flex="20" layout-align="center start">
                <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar project-avatar" alt="Project Ava">
            </div>
            <div layout="column" flex="80">
                <div layout="row" class="top-info-project">
                    <p class="top-info-start-header-people">Scrum Master</p>
                    <h5 class="top-info-start-date">Julia Koval</h5>
                    <h5 class="top-info-start-date">Project Manager</h5>
                </div>
            </div>
        </div>
        <div layout="row" class="top-people-margin all-project">
            <md-button class="all-project-user" aria-label="All project participants">
                <h4 class="all-project-user-text">All project participants(3)</h4>
                <md-tooltip md-visible="false" md-direction="bottom">
                    Roman Kulinenko, Semen Babenko, Ivan Serevko
                </md-tooltip>
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="button-edit-project">Edit</md-button>
        </div>
    </div>

    <div layout="column" class="top-right-column" flex="75">
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h3 layout="column" flex="90" class="top-right-subcolumn-header">Timeline</h3>
                    <h4 layout="column" flex="10" class="top-right-subcolumn-header">2 month</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w1</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w2</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w3</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w4</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w5</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w6</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w7</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w8</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w9</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                    <div layout="column" flex="10">
                        <div layout="row">
                            <p class="working-weeks">w10</p>
                            <md-divider vertical></md-divider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Project Manager</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Designer</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Front-End developers</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Softwear developers</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Back-end developers</h4>
                </div>
            </div>
        </div>
        <div layout="row" class="top-right-subcolumn">
            <div layout="column" flex="100">
                <div layout="row">
                    <h4>Mobile developers</h4>
                </div>
            </div>
        </div>
        <div layout="row" >
            <div layout="column" class="top-right-right-subcolumn" flex="50">
                <div layout="row">
                    <h3 layout="column" flex="90" class="top-right-subcolumn-header">Brief description</h3>
                    <md-button layout="column" flex="10" layout-align="center center" aria-label="Open demo menu" class="md-icon-button edit-button" ng-click="controlDescription($event)">
                        <ng-md-icon icon="{{icon_description}}" size="28"></ng-md-icon>
                    </md-button>
                </div>

                <md-input-container class="md-block top-right-subcolumn-main-text">
                    <textarea ng-model="project.description" ng-disabled="lock_description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <!--<p class="top-right-subcolumn-main-text"></p>-->
            </div>
            <div layout="column" class="top-right-left-subcolumn" flex="50">
                <div layout="row">
                    <h3 layout="column" flex="90" class="top-right-subcolumn-header">Technologies & platforms</h3>
                    <md-button layout="column" flex="10" layout-align="center center" aria-label="Open demo menu" class="md-icon-button edit-button" ng-click="controlTechnology($event)">
                        <ng-md-icon icon="{{icon_technology}}" size="28"></ng-md-icon>
                    </md-button>
                </div>
                <div layout="row" class="technology">
                    <md-chips flex-gt-sm="100" ng-model="projectInfo.selectedVegetables" md-autocomplete-snap="" md-transform-chip="projectInfo.transformChip($chip)" md-require-match="projectInfo.autocompleteDemoRequireMatch">
                        <md-autocomplete ng-disabled="lock_technology" md-selected-item="projectInfo.selectedItem" md-search-text="projectInfo.searchText" md-items="item in projectInfo.querySearch(projectInfo.searchText)" md-item-text="item.name" placeholder="Technology and platforms">
                            <span md-highlight-text="projectInfo.searchText">{{item.name}} :: {{item.type}}</span>
                            <md-not-found>
                                <div class="chip-not-found" ng-click="projectInfo.notFound(projectInfo.searchText)">Not found. Click here to add new.</div>
                            </md-not-found>
                        </md-autocomplete>
                        <md-chip-template ng-disabled="lock_technology">
                            <span>
                              <strong>{{$chip.name}}</strong>
                              <em>({{$chip.type}})</em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </div>
        </div>
    </div>
</div>