<div ng-controller="ProjectsInfoController as projectInfo" class="project-info col-md-12">
    <div class="left-menu-panel col-lg-4">
        <div class="column menu-panel-wrapper">

            <div class="top-info-header">
                <div class="top-info-header__avatar">
                    <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                         class="top-info-header__avatar-img">
                </div>
                <div class="top-info-header__project-info">
                    <div>
                        <p class="top-info-header__project-title">Project</p>
                        <h4 class="top-info-header__project-name">Dengo Service</h4>
                    </div>
                    <div>
                        <p class="top-info-header__project-title">Area</p>
                        <h4 class="top-info-header__project-name">Managment</h4>
                    </div>
                </div>
                <div class="top-info-header__date-info">
                    <div>
                        <p class="top-info-header__date-title">Started date</p>
                        <h4 class="top-info-header__date-value">05.07.16</h4>
                    </div>
                    <div>
                        <p class="top-info-header__date-title">Deadline</p>
                        <h4 class="top-info-header__date-value">20.09.16</h4>
                    </div>
                </div>
            </div>

            <div class="top-info-people">
                <div>
                    <p class="top-info-people__role">Customer</p>
                </div>
                <div>
                    <div>
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top-info-people__avatar" alt="Project Ava">
                    </div>
                    <div class="top-info-people__title">
                        <div class="top-info-people__person">
                            <h5 class="top-info-people__person-name">Denis Petrusha</h5>
                            <p class="top-info-people__person-role">CEO Dengo Systems</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-info-people">
                <div>
                    <p class="top-info-people__role">Product Owner</p>
                </div>
                <div>
                    <div>
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top-info-people__avatar" alt="Project Ava">
                    </div>
                    <div class="top-info-people__title">
                        <div class="top-info-people__person">
                            <h5 class="top-info-people__person-name">Ivan Makhina</h5>
                            <p class="top-info-people__person-role">Director Leadership</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-info-people">
                <div>
                    <p class="top-info-people__role">Scrum Master</p>
                </div>
                <div layout="row">
                    <div>
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top-info-people__avatar" alt="Project Ava">
                    </div>
                    <div class="top-info-people__title">
                        <div class="top-info-people__person">
                            <h5 class="top-info-people__person-name">Julia Koval</h5>
                            <p class="top-info-people__person-role">Project Manager</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-info-team">
                <div>
                    <p class="top-info-team__title">Team developers (8)</p>
                </div>
                <div class="top-info-team__people">
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                    <a class="top-info-team__person" uib-popover-html="personPopover" popover-trigger="'mouseenter'" aria-label="All project participants">
                        <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg"
                             class="top_info-team__person-avatar" alt="Project Ava">
                    </a>
                </div>
            </div>

            <div>
                <button class="info-edit-project-btn">Edit project</button>
            </div>
        </div>
    </div>

    <div class="top-right-column col-lg-8">

        <!--CREATE TIMELINE BOARD-->
        <!--<div class="timeline-board">
            <div class="top-right-subcolumn">
                <div>
                    <div>
                        <p class="top-right-subcolumn-header">Timeline</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 add-timeline-wraper">
                <div class="add-timeline-item"><p>+Add</p></div>
            </div>
            <div class="create-timeline-board">
                <div>
                    <div class="">
                        <button class="create-board-btn add-timeline-btn-wrapper">Create board</button>
                    </div>
                    <div>
                        <p class="board-info-date">Enter date of Deadline for create Timeline board</p>
                    </div>
                </div>
            </div>
        </div>-->
        <!--CREATE TIMELINE BOARD-->

        <!--EDIT TIMELINE BOARD-->
        <div class="timeline-board">
            <div class="top-right-subcolumn">
                <div class="timeline">
                    <div class="timeline__header">
                        <p class="top-right-subcolumn-header timeline__header-title">Timeline</p>
                        <!--<small class="board-info-date timeline__header-dateinfo">(2 months)</small>-->
                    </div>
                    <div class="timeline__duration clearfix">
                        <div class="timeline__week">W1</div>
                        <div class="timeline__week">W2</div>
                        <div class="timeline__week">W3</div>
                        <div class="timeline__week">W4</div>
                        <div class="timeline__week">W5</div>
                        <div class="timeline__week">W6</div>
                        <div class="timeline__week">W7</div>
                        <div class="timeline__week">W8</div>
                    </div>
                    <div class="col-md-12 add-timeline-wraper"> <!--Adding estimation-->
                        <div class="add-timeline-item add-timeline-item__finish col-md-12">
                            <div class="add-timeline-item__discr col-md-11 ">
                                <p>Project Manager</p>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="add-timeline-item add-timeline-item__added col-md-12">
                            <div class="add-timeline-item__discr col-md-11 ">
                                <p>Project Manager</p>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="add-timeline-item__edit-panel col-md-1">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="add-timeline-item add-timeline-item__added col-md-12">
                            <div class="add-timeline-item__discr col-md-11 ">
                                <p>Project Manager</p>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="add-timeline-item__edit-panel col-md-1">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div><!--end Adding estimation-->

                    <div class="col-md-12 add-timeline-wraper">
                        <div class="add-timeline-item"><p>+Add</p></div>
                    </div>
                    <!--Edit estimation-->
                    <div class="subcolumn-header clearfix timeline__estimation-header">
                        <p class="subcolumn-header__title">Estimation</p>
                        <div class="subcolumn-header__btn-group">
                            <button type="button" class="subcolumn-header__btn subcolumn-header__btn--save">
                                <span class="glyphicon glyphicon-remove subcolumn-header__btn-icon" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="subcolumn-header__btn subcolumn-header__btn--cancel">
                                <span class="glyphicon glyphicon-ok subcolumn-header__btn-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <uib-progressbar max="100" value="40" class="timeline__progressbar-container">
                        <div class="timeline__progressbar-btn timeline__progressbar-btn--left">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </div>
                        <div class="timeline__progressbar-btn timeline__progressbar-btn--right">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </div>
                    </uib-progressbar><!--end Edit estimation-->
                </div>
                <br>
                <div class="staff clearfix">
                    <div class="staff__department">
                        <div class="staff__title">Department</div>
                        <!-- Dropdown menu -->
                        <div class="btn-group staff-dropdown" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="staff-dropdown__btn" uib-dropdown-toggle ng-disabled="disabled">
                                <div class="staff-dropdown__marker"></div> Project Manager <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#" class="clearfix staff-dropdown__item">
                                    <div class="staff-dropdown__marker"></div> Project Manager</a></li>
                                <li role="menuitem"><a href="#" class="clearfix staff-dropdown__item">
                                    <div class="staff-dropdown__marker"></div>Project Manager</a></li>
                                <li role="menuitem"><a href="#" class="clearfix staff-dropdown__item">
                                    <div class="staff-dropdown__marker"></div>Project Manager</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="staff__person">
                        <div class="staff__title">Participants</div>
                        <div class="person clearfix">
                            <div class="person__image">
                                <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                     class="person__avatar" alt="Project Ava">
                            </div>
                            <div class="person__name">Julia <br> Koval</div>
                            <button type="button" class="person__add-btn">+Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-timeline-board"></div>
        </div>
        <!--EDIT TIMELINE BOARD-->

        <div class="col-md-12 bottom-subcolumn">
            <div class="bottom-right-left-subcolumn col-md-6">
                <div class="bottom-right-left-subcolumn-wrapper col-md-12">
                    <div class="subcolumn-header clearfix">
                        <p class="subcolumn-header__title">Technologies & platforms</p>
                        <!--<div class="subcolumn-header__btn-group">-->
                            <!--<button type="button" class="subcolumn-header__btn subcolumn-header__btn&#45;&#45;save">-->
                                <!--<span class="glyphicon glyphicon-remove subcolumn-header__btn-icon" aria-hidden="true"></span>-->
                            <!--</button>-->
                            <!--<button type="button" class="subcolumn-header__btn subcolumn-header__btn&#45;&#45;cancel">-->
                                <!--<span class="glyphicon glyphicon-ok subcolumn-header__btn-icon" aria-hidden="true"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Java</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Php</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Jenkins</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Java</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>My SQL</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Java</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Angular</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>Java</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item typed"><p>JavaScript</p><span class="extra">✖</span></div>-->
                    <!--</div>-->
                    <!--<div class="add-timeline-wraper">-->
                        <!--<div class="add-timeline-item"><p>+Add</p></div>-->
                    <!--</div>-->

                    <div class="create-techno-board">
                        <div>
                            <button class="create-board-btn add-technologies-btn-wrapper">Create board</button>
                        </div>
                    </div>

                </div>
            </div>

            <!--CREATE DESCRIPTION BOARD -->
            <div class="bottom-right-right-subcolumn col-md-6">
                <div class="bottom-right-right-subcolumn-wrapper col-md-12">
                    <div class="subcolumn-header clearfix">
                        <p class="subcolumn-header__title">Brief description</p>
                    </div>
                    <div class="create-brief-board">
                        <div>
                            <div>
                                <button class="create-board-btn add-description-btn-wrapper">Create board</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--CREATE DESCRIPTION BOARD -->

            <!--EDIT DESCRIPTION BOARD-->
            <!--<div class="bottom-right-right-subcolumn col-md-6">
                <div class="bottom-right-right-subcolumn-wrapper col-md-12">
                    <div class="subcolumn-header clearfix">
                        <p class="subcolumn-header__title">Brief description</p>
                        <div class="subcolumn-header__btn-group">
                            <button type="button" class="subcolumn-header__btn subcolumn-header__btn&#45;&#45;save">
                                <span class="glyphicon glyphicon-remove subcolumn-header__btn-icon" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="subcolumn-header__btn subcolumn-header__btn&#45;&#45;cancel">
                                <span class="glyphicon glyphicon-ok subcolumn-header__btn-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subcolumn-description">
                        <textarea class="form-control subcolumn-description__textarea" rows="5"></textarea>
                    </div>
                </div>
            </div>-->
            <!--EDIT DESCRIPTION BOARD-->

            <!--SHOW DESCRIPTION BOARD-->
            <!--<div class="bottom-right-right-subcolumn col-md-6">
                <div class="bottom-right-right-subcolumn-wrapper col-md-12">
                    <div class="subcolumn-header clearfix">
                        <p class="subcolumn-header__title">Brief description</p>
                        <div class="subcolumn-header__btn-group">
                            <button type="button" class="subcolumn-header__btn subcolumn-header__btn&#45;&#45;edit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subcolumn-description">
                        <p class="subcolumn-description__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Animi corporis deserunt eaque eos esse fugit magni maxime,
                            minus molestiae nostrum pariatur perferendis possimus qui
                            rem sequi tempora temporibus vel voluptate?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            rem sequi tempora temporibus vel voluptate?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>-->
            <!--SHOW DESCRIPTION BOARD-->
        </div>
    </div>
</div>
