<div class="active-sprint">
<div class="col-lg-10 sprint-board">


    <div class="sprint-board-header col-lg-12">
        <div class="sprint-board-header-title">
            <span>DEN Sprint 1</span>
        </div>
        <div class="sprint-board-header-filters">
            <span>Filters</span>
            <div class="sprint-board-header-filters__item">
                <span>Only my requests</span>
            </div>
            <div class="sprint-board-header-filters__item">
                <span>Recently added</span>
            </div>
        </div>
        <div class="sprint-board-header-remains">
            <span class="glyphicon glyphicon-time"></span>
            <span>Remains: 6 d.</span>
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <span class="glyphicon glyphicon-option-vertical sprint-board-more-option-btn" uib-dropdown-toggle></span>
                <ul class="dropdown-menu sprint-board-header-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">Setting</a></li>
                    <li role="menuitem"><a href="#">Copy</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Create board</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Collapse all swimlines</a></li>
                    <li role="menuitem"><a href="#">Hide epic lables</a></li>
                    <li role="menuitem"><a href="#">Print cards</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="status-header">
        <ul class="status-header__item-wrapper">
            <li class="status-header__item">To implement(9)</li>
            <li class="status-header__item">In progress(15)</li>
            <li class="status-header__item">Ready to test(3)</li>
            <li class="status-header__item">Done(14)</li>
        </ul>
    </div>
    <uib-accordion close-others="oneAtATime" class="task-accordition">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                <span class="glyphicon glyphicon-align-left task-accordition__backlog-icon" aria-hidden="true"></span>
                <span class="task-accordition__task-lable">DEN-2</span>
                <span class="task-accordition__task-title">Как суперадмин хочу просматривать все разговоры менеджеров</span>
                <span class="task-accordition__task-number">(7 sub-tasks)</span>
            </uib-accordion-heading>
            <div class="task-panel">
                <div class="row">
                    <div class="col-lg-2 task-panel__item">
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->

                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->

                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                    </div>
                    <div class="col-lg-2  task-panel__item">
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                    </div>
                    <div class="col-lg-2  task-panel__item">
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                    </div>
                    <div class="col-lg-2  task-panel__item">
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                    </div>
                    <div class="col-lg-2  task-panel__item">
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                        <!--BOARD TASK ITEM COMPONENT-->
                        <div class="board-task">
                            <div class="board-task__header">
                                <span class="glyphicon glyphicon-ok board-task__icon board-task__icon--header" aria-hidden="true"></span>
                                <div class="board-task__header-title">DEN-3</div>
                            </div>
                            <div class="board-task__task">
                                <span class="glyphicon glyphicon-arrow-right board-task__icon board-task__icon--task" aria-hidden="true"></span>
                                <div class="board-task__task-text">Вивчення можливостей інтеграції Skype до CRM</div>
                            </div>
                            <img src="https://material.angularjs.org/latest/img/list/60.jpeg"
                                 class="board-task__avatar" alt="Project Ava">
                        </div>
                        <!--/BOARD TASK ITEM COMPONENT-->
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>
</div>
